@charset "UTF-8";
@import url('https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css');

body {
    margin: 0;
    padding: 0;
    background-color: #e7f2fd;
}

header {
   position: fixed;
    top: 0;
    left: 220px; /* 메뉴바의 너비 + 여백 만큼 떨어지게 설정 */
    width: calc(100% - 220px); /* 화면 전체 너비에서 메뉴바 너비 빼기 */
    background-color: #fff;
    color: #000;
    text-align: center;
    font-size: 40px; /* 폰트 크기 조절 */
    z-index: 1000; /* 다른 요소 위에 표시하기 위한 인덱스 */
}

.wrapper {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrapper .search_box {
    position: relative;
    width: 1200px;
    background: #fff;
    border-radius: 5px;
    height: 30px;
    display: flex;
    padding: 10px;
    box-shadow: 0 8px 6px -10px #b3c6ff;
    border: 2px solid #cccccc;
    margin: 0 auto;
}

.wrapper .search_box .dropdown {
    width: 150px;
    border-right: 2px solid #dde2f1;
    color: #9fa3b1;
    position: relative;
    cursor: pointer;
    flex-shrink: 0;
}

.wrapper .search_box .dropdown .default_option {
    text-transform: uppercase;
    padding: 5px 15px 13px;
    font-size: 14px;
}

.wrapper .search_box .dropdown select {
    width: 100%;
    border: 0;
    font-size: 16px;
    color: #6f768d;
    position: relative;
    top: -20px; /* 원하는 만큼 조절하세요 */
    left:-5px;
}

.wrapper .search_box .search_field {
    flex: 1;
    display: flex;
    align-items: stretch;
}

.wrapper .search_box .search_field .input {
    width: 100%;
    border: 0;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 38px;
    color: #6f768d;
}

.wrapper .search_box .search_field .fas {
    font-size: 22px;
    color: #5078ef;
    cursor: pointer;
    margin: auto 10px;
}

::-webkit-input-placeholder {
    color: #9fa3b1;
}

::-moz-placeholder {
    color: #9fa3b1;
}

:-ms-input-placeholder {
    color: #9fa3b1;
}


.menu-bar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 200px;
    background-color: #fff;
    color: #000;
    font-size: 26px;
    padding: 10px;
    overflow-y: auto;
    font-family: 'NanumSquareAcb';

}

.menu-bar ul li{
   list-style: none;
   margin:20px -22px;
}

.line {
      position: fixed;
      top: 0;
      left: 220px;
      height: 100%;
      width: 1px; /* 선의 두께 */
      background-color: #ccc; /* 선의 색상 */
      z-index: 1002; /* 다른 요소 위에 표시하기 위한 인덱스 */
}
        

.my-box {
    width: 190px; /* 네모 박스의 너비 */
    height: 280px; /* 네모 박스의 높이 */
    background-color: #fff; /* 배경 색상 */
    border: 2px solid #8c8c8c; /* 테두리 스타일 */
    margin-top: 15px; /* 네모 박스와 메뉴 바 사이의 간격 설정 */
    margin-left: 3px;
    z-index: 1001;
    font-size:16px;
}

.my-box ul {
    margin-top: 20px; /* 원하는 만큼 조절하여 요소들을 아래로 이동시킵니다 */
    margin-left: -3px;
}

.my-box .image-profile img {
   margin-top: 100px
    width: 150px;
    height: 120px;
}

.main-content {
    margin-top: 250px; /* 헤더의 높이만큼 아래로 밀어줍니다. */
    margin-left: 220px;
    padding: 0px;
}

.wrap {
        display: flex; 
        overflow: hidden;
        width: 100%;
}
.wrap .rolling-list ul {
    padding : 0px;
    display: flex;
}
.wrap .rolling-list ul li { 
    box-sizing: border-box; 
    display: flex; 
    align-items: center; 
    flex-shrink: 0; 
}
/* iframe에 대한 CSS 코드 */

.wrap .rolling-list ul li img{
   height:300px;
}

.rolling-list.original {
    animation: rollingleft1 60s linear infinite;
}
.rolling-list.clone {
    animation: rollingleft2 60s linear infinite;
}

@keyframes rollingleft1 {
    0% { transform: translateX(0); }
    50% { transform: translateX(-100%); }
    50.01% { transform: translateX(100%); }
    100% { transform: translateX(0); }
}

@keyframes rollingleft2 {
    0% { transition: translateX(0); }
    100% { transform: translateX(-200%); }
}

/* 로그아웃 부모 컨테이너 */
.parent-container {
  text-align: center;
}

input[type=submit] {
  background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 4px;
  cursor: pointer;
}






