@charset "UTF-8";
/* style.css */

body {
    margin: 0;
    padding: 0;
}

header {
	position: fixed;
    top: 0;
    left: 220px; /* 메뉴바의 너비 + 여백 만큼 떨어지게 설정 */
    width: calc(100% - 220px); /* 화면 전체 너비에서 메뉴바 너비 빼기 */
    background-color: #fff;
    color: #000;
    text-align: center;
    font-size: 48px; /* 폰트 크기 조절 */
    z-index: 1000; /* 다른 요소 위에 표시하기 위한 인덱스 */
}

.menu-bar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 200px;
    background-color: #dae7f0;
    color: #000;
    font-size: 24px;
    padding: 10px;
    overflow-y: auto;
}
.menu-bar ul li{
	list-style: none;
	margin:20px 0px;
}


.my-box {
    width: 180px; /* 네모 박스의 너비 */
    height: 250px; /* 네모 박스의 높이 */
    background-color: #fff; /* 배경 색상 */
    border: 2px solid #fff; /* 테두리 스타일 */
    margin-top: 20px; /* 네모 박스와 메뉴 바 사이의 간격 설정 */
    z-index: 1001;
    font-size:16px;
}

.main-content {
    margin-top: 220px; /* 헤더의 높이만큼 아래로 밀어줍니다. */
    margin-left: 220px;
    padding: 20px;
}


.wrap {
        display: flex; 
        overflow: hidden;
        width: 100%;
        }
        .wrap .rolling-list ul {
            padding : 0px;
            display: flex;
        }
        .wrap .rolling-list ul li { 
            box-sizing: border-box; 
            display: flex; 
            align-items: center; 
            flex-shrink: 0; 
        }
 		.wrap .rolling-list ul li img{
 			height:300px;
 		}
 
        .rolling-list.original {
            animation: rollingleft1 60s linear infinite;
        }
        .rolling-list.clone {
            animation: rollingleft2 60s linear infinite;
        }
 
        @keyframes rollingleft1 {
            0% { transform: translateX(0); }
            50% { transform: translateX(-100%); }
            50.01% { transform: translateX(100%); }
            100% { transform: translateX(0); }
        }
 
        @keyframes rollingleft2 {
            0% { transition: translateX(0); }
            100% { transform: translateX(-200%); }
        }
        
input[type=submit] {
  background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 4px;
  cursor: pointer;
}