<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.seoul.fiding.mapper.MemberMapper">
  	<insert id="register" parameterType="com.seoul.fiding.vo.MemberVO">
  		insert into tbl_member values(null, #{email}, #{name},#{password},#{address})
  	</insert>
  
  </mapper>