<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script>
  </script>
</head>
<body>
    <table border="5">
        <thead>
          <tr>
            <th>date_day</th>
            <th>total_cases</th>
            <th>total_deaths</th>
            <th>people_vaccinated</th>
          </tr>
        </thead>
        <tbody>
          {% for i in data %}
            <tr>
              <td>{{i[0]}}</td>
              <td>{{i[1]}}</td>
              <td>{{i[2]}}</td>
              <td>{{i[3]}}</td>
            </tr>
          {% endfor %}
        </tbody>
  </table>

</body>
</html>
