<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/right1.css" />
</head>
<body>

    <div class="covid__title">
        <h1><i class="material-icons"></i></h1></div>
    <div class="dd">

    <ol class="covid news">
        <div class="kanban__title">
            <h2><i>관련 뉴스</i></h2>
        </div>
        <li class="dd-item" data-id="1">
            <h3 class="title dd-handle" >뉴스1</h3>
            <div class="text" contenteditable="true"></div>
        </li>
        <li class="dd-item" data-id="2">
            <h3 class="title dd-handle">뉴스2</h3>
            <div class="text" contenteditable="true">뉴스링크2</div>
        </li>
        </li>
        <li class="dd-item" data-id="3">
            <h3 class="title dd-handle">뉴스3</h3>
            <div class="text" contenteditable="true">뉴스링크3</div>
        </li>
    </ol>
</body>
</html>