<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.seoul.fiding.mapper.MemberMapper">
	<insert id="register" parameterType="com.seoul.fiding.vo.MemberVO">
		insert into tbl_member values(#{id}, #{pw}, #{username}, #{nickname}, #{phone}, #{email}, #{write_cnt})
	</insert>
	<select id="isSignup" parameterType='String' resultType="com.seoul.fiding.vo.MemberVO">
		select * from tbl_member where id=#{id}
	</select>
	
	
	
	<insert id="writeBoard" parameterType="com.seoul.fiding.vo.BoardVO">
		insert into board values(null,#{TL_NO},#{id}, #{nickname}, #{title}, #{content}, #{like_cnt}, #{tag},#{cat})
	</insert>
	<select id="selectOneBoard" parameterType='Integer' resultType="com.seoul.fiding.vo.BoardVO">
		select * from board where BD_NO=#{BD_NO}
	</select>
	<select id="selectBoardPaging9" parameterType='com.seoul.fiding.vo.SearchVO' resultType="com.seoul.fiding.vo.BoardVO">
		select * from board order by BD_NO  desc limit 9 offset #{page_num, jdbcType=INTEGER}
	</select>
	<select id="selectBoardByIdPaging9" parameterType='com.seoul.fiding.vo.SearchVO' resultType="com.seoul.fiding.vo.BoardVO">
		SELECT * FROM board WHERE id = #{id} ORDER BY BD_NO DESC LIMIT 9 OFFSET #{page_num, jdbcType=INTEGER}
	</select>
	<select id="selectBoardBySearchPaging9" parameterType='com.seoul.fiding.vo.SearchVO' resultType="com.seoul.fiding.vo.BoardVO">
		select * from board where tag like '%'+#{search}+'%' or content like '%'+#{search}+'%' 
		or title like '%'+#{search}+'%' or nick_name like '%'+#{search}+'%' 
		order by BD_NO desc limit 9 offset #{page_num} * 9
	</select>
	<select id="selectBoardByCatPaging9" parameterType='com.seoul.fiding.vo.SearchVO' resultType="com.seoul.fiding.vo.BoardVO">
		select * from board where cat like '%'+#{search}+'%' 
		order by BN_NO desc limit 9 offset #{page_num} * 9
	</select>
	<update id="updateBoard" parameterType="com.seoul.fiding.vo.BoardVO">
      update board set title=#{title}, content=#{content},tag=#{tag} where BD_NO=#{BD_NO}
    </update>
    <update id="likeUp" parameterType="Integer">
      update board set like_cnt=like_cnt+1 where BD_NO=#{BD_NO}
    </update>
    <update id="likeDown" parameterType="Integer">
      update board set like_cnt=like_cnt-1 where BD_NO=#{BD_NO}
    </update>
	<delete id="deleteABoard" parameterType="Integer">
        delete from board where BD_NO = #{BD_NO}
    </delete>
    <delete id="deleteAllBoardByID" parameterType="String">
        delete from board where id = #{id}
    </delete>
	
	
	
	
	<insert id="insertLike" parameterType="com.seoul.fiding.vo.LikeVO">
		insert into like_log values(null,#{BD_NO},#{WRITER_ID}, #{USER_ID})
	</insert>
	<select id="selectAllLikeByID" parameterType= "String" resultType="com.seoul.fiding.vo.LikeVO">
		select * from like_log where USER_ID=#{id}
	</select>
	<select id="selectAllLike" resultType="com.seoul.fiding.vo.LikeVO">
		select * from like_log
	</select>
	<delete id="deleteALike" parameterType="Integer">
        delete from like_log where LL_NO = #{LL_NO}
    </delete>
    <delete id="deleteAllLikeByBD_NO" parameterType="Integer">
        delete from like_log where BN_NO = #{BN_NO}
    </delete>
	
	
	
	<insert id="insertFavor" parameterType="com.seoul.fiding.vo.FavorVO">
		insert into FAVORITE_log values(null,#{BD_NO},#{WRITER_ID}, #{USER_ID})
	</insert>
	<select id="selectAllFavorByID" parameterType= "String" resultType="com.seoul.fiding.vo.FavorVO">
		select * from FAVORITE_log where USER_ID=#{id}
	</select>
	<select id="selectAllFavor" resultType="com.seoul.fiding.vo.FavorVO">
		select * from FAVORITE_log
	</select>
	<delete id="deleteAFavor" parameterType="Integer">
        delete from FAVORITE_log where LL_NO = #{LL_NO}
    </delete>
    <delete id="deleteAllFavorByBD_NO" parameterType="Integer">
        delete from FAVORITE_log where BN_NO = #{BN_NO}
    </delete>
	
	
	<insert id="insertTour" parameterType="com.seoul.fiding.vo.TourVO">
		insert into TOUR_LIST values(null,#{cat},#{address}, #{search_cnt},#{url})
	</insert>
	<select id="selectAllTour" resultType="com.seoul.fiding.vo.TourVO">
		select * from TOUR_LIST
	</select>
	<select id="selectOneTour" parameterType="Integer" resultType="com.seoul.fiding.vo.TourVO">
		select * from TOUR_LIST where TL_NO = #{TL_NO}
	</select>
	<update id="searchUp" parameterType="Integer">
      update TOUR_LIST set search_cnt=search_cnt+1 where TL_NO=#{TL_NO}
    </update>
	
	
	
	<select id="selectBoardPaging9l" parameterType='com.seoul.fiding.vo.SearchVO' resultType="Integer">
      select LENGTH(bd_no) as length from board
   </select>
	<select id="selectBoardByIdPaging9l" parameterType='com.seoul.fiding.vo.SearchVO' resultType="Integer">
      select LENGTH(bd_no) as length from board where id=#{id}
   </select>
	<select id="selectBoardBySearchPaging9l" parameterType='com.seoul.fiding.vo.SearchVO' resultType="Integer">
      select LENGTH(bd_no) as length from board where tag like '%'+#{search}+'%' or content like '%'+#{search}+'%' 
      or title like '%'+#{search}+'%' or nick_name like '%'+#{search}+'%' 
   </select>
	<select id="selectBoardByCatPaging9l" parameterType='com.seoul.fiding.vo.SearchVO' resultType="Integer">
      select LENGTH(bd_no) as length from board where cat like '%'+#{search}+'%' 
   </select>
 </mapper>