@charset "UTF-8";

.board_wrap {
   position: relative;
   right: 0px;
   background-color: #fafafa;
   border-radius: 3px;
}

.main_body {
   margin-top : 300px;
   display: flex;
   position: relative;
   /*text-align: center;*/
   justify-content: center;
   left: 20px;
   box-sizing: border-box;
   font-family: -apple-system, system-ul, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.feed {
   width: 600px;
   height: auto;
   border: 0.5px solid #dbdbdb;
   border-radius: 3px;
   padding: 0 16px 0 16px;
}
.feed_2 {
   width: 600px;
   height: auto;
   border: 0.5px solid #dbdbdb;
}

.id_box {
   display: flex;
   position: absolute;
   flex-direction: row;
   align-items: flex-start;
   justify-content: flex-start;
   left: 0px;
   top: 0px;
   width: 536px;
   height: 41px;
align-items: center;
}

.id_container {
   display: flex;
   position: relative;
   flex-direction: column;
   align-items: flex-start;
   left: 10px;
}

.id_img {
   width: 32px;
   height: 32px;
   border-radius: 50%;
	margin-top: 5px;
	margin-left: 5px;
}

.id_name {
	margin-bottom: 3px;
	font-size: 25px;
	font-weight: 800;
}

.place {
   font-size: 12px;
}

.more_details {
   position: relative;
   right: -550px;
}

.more_details img {
   display: flex;
   justify-content: flex-end;
   width: 40px;
   height: 40px;
}

.feed_picture {
   width: 598px;
   height: auto; /* 이미지 크기에 맞게 자동 조정 */
}

.feed_picture img {
    max-width: 100%; /* 이미지가 부모 요소에 맞게 크기 조절 */
    height: auto;
}
.emoticon_box {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   height: 40px;
   margin: 0px;
}

/* !!!!! 캐러셀 크기 !!!!! */
.carousel-container.carousel-inner {
   max-width: 598px; /* 이미지 크기에 맞게 조절 */
   margin: 0 auto; /* 가운데 정렬 */
}
.carousel-item img {
    margin: auto; /* 가운데 정렬을 위해 추가 */
}

/* !!!!! 캐러셀 높이 조절 !!!!! */
.carousel-item {
    height: 100%; /* 원하는 높이로 설정 */
}

.carousel-control-prev, .carousel-control-next {
    top: 50%; /* 상단 중앙 정렬 */
    transform: translateY(-50%);
}
.emoticon_box2 {
   display: flex;
}

.emoticon_box2 div {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 40px;
   margin: 0px;
}

.emoticon_box2 img {
   width: 24px;
   height: 24px;
}

#img_heart:hover, #img_star:hover {
	cursor: pointer;
}

.bookmark_box {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 40px;
   height: 40px;
}

.bookmark_box img {
   width: 24px;
   height: 24px;
}
.feed_like {
	text-align: start;
	padding: 0 16px 0 16px;
}
.feed_like_box {
   display: flex;
   position: relative;
   flex-direction: row;
   align-items: center;
   height: 30px;
   left: 8px;
   padding: 0 16px 0 8px;
}

.feed_like_box .feed_like {
   display: flex;
   position: relative;
   left: 5px;
   font-size: 14px;
}

.feed_like_picture {
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   top: 15px;
   left: 10px;
   border: 1px solid #dbdbdb;
}

.feed_like_peolpe {
   width: 20px;
   height: 20px;
   border-radius: 50%;
}

.feed_article {
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
}

.feed_article_box {
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   flex-direction: column;
   padding: 0 16px 0 16px;
}

.comments_container {
   display: flex;
}

.comments {
   font-size: 14px;
   line-height: 18px;
   padding: 2px;
   text-align: start;
   
}

.comments1 {
   padding: 2px;
   font-size: 14px;
   line-height: 18px;
   color: #8e8e8e;
}

.comments1_box {
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   flex-direction: column;
}

.new_comments {
   display: block;
   text-align: start;
}

.newCommentBox {
   padding: 2px;
   font-size: 14px;
   line-height: 18px;
}

.newCommentBox1 {
   padding: 2px;
   font-size: 14px;
   line-height: 18px;
}

.comments2 {
   font-size: 10px;
   line-height: 18px;
   color: #8e8e8e;
   letter-spacing: 0.2px;
}

.inputContainer {
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 56px;
   padding: 0 12px 0 12px;
   margin: 0px;
   border-top: 1px solid #efefef;
}

.inputBox {
   background-color: #fafafa;
   font: 14px;
   color: black;
   outline: none;
   width: 550px;
   height: 50px;
   border: solid 0px;
}

.buttonBox {
   background-color: #fafafa;
   color: #c0e0fd;
   outline: none;
   border: solid 0px;
}

.type_comment {
   display: flex;
   justify-content: flex-start;
   width: 530px;
   font-size: 14px;
   color: #8e8e8e;
}

.summit {
   font-size: 14px;
   color: #bee1fd;
}

.story {
  height: 117px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
}

.custom-modal {
	display: none;
	position: fixed;
	top: 40%;
	right: 150px;
	transform: translate(-50%, -50%);
	padding: 10px;
	background-color: white;
	border: 1px solid #ccc;
	z-index: 1000;
	height: 100px;
	width: 140px;
}

.close-btn {
	cursor: pointer;
	float: right;
}

    
/* 이미지 크기 */
.feed_2 .carousel-container .carousel-inner .feed_picture img {
	width: 100%; /* 원하는 너비로 조절하세요 */
	height: auto; /* 가로 비율에 따라 세로 크기 자동 조절 */
	max-height: 600px; /* 원하는 높이로 조절하세요 (선택 사항) */
	object-fit: cover; /* 이미지를 컨테이너에 맞춰서 자르기 */
}
  
.feed_id {
	position: relative;
	display: flex;
	justify-content: center;
	height: 40px;
}
.carousel-container {
	overflow: hidden;
	position: relative;
	width: 100%;
}

.carousel-inner {
	display: flex;
	transition: transform 0.5s ease-in-out;
}

.carousel-item {
	flex: 0 0 100%;
}

/* 좌우 화살표 스타일링 */
.carousel-control {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 50px;
	cursor: pointer;
	border: 0;
	background-color: transparent;
}

#carousel-control-prev {
	left: 10px;
}

#carousel-control-next {
	right: 10px;
}
