<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.seoul.fiding.mapper.MemberMapper">
	<insert id="register" parameterType="com.seoul.fiding.vo.MemberVO">
		insert into tbl_member values(#{id}, #{pw}, #{username}, #{nickname}, #{phone}, #{email})
	</insert>
	<select id="isSignup" parameterType='String' resultType="com.seoul.fiding.vo.MemberVO">
		select * from tbl_member where id=#{id}
	</select>
	
	
	
	<insert id="writeBoard" parameterType="com.seoul.fiding.vo.BoardVO">
		insert into board values(null,#{TL_NO},#{id}, #{nickname}, #{title}, #{content}, #{like_cnt}, #{tag},#{cat})
	</insert>
	<select id="selectBoard" parameterType='Integer' resultType="com.seoul.fiding.vo.BoardVO">
		select * from board where BD_NO=#{BD_NO}
	</select>
	<select id="selectAllBoard" resultType="com.seoul.fiding.vo.BoardVO">
		select * from board
	</select>
	<update id="updateBoard" parameterType="com.seoul.fiding.vo.BoardVO">
      update board set title=#{title}, content=#{content} where BD_NO=#{BD_NO}
    </update>
    <update id="likeUp" parameterType="Integer">
      update board set like_cnt=like_cnt+1 where BD_NO=#{BD_NO}
    </update>
    <update id="likeDown" parameterType="Integer">
      update board set like_cnt=like_cnt-1 where BD_NO=#{BD_NO}
    </update>
	<delete id="deleteABoard" parameterType="Integer">
        delete from board where BD_NO = #{BD_NO}
    </delete>
    <delete id="deleteAllBoardByID" parameterType="String">
        delete from board where id = #{id}
    </delete>
	
	
	
	
	<insert id="insertLike" parameterType="com.seoul.fiding.vo.LikeVO">
		insert into like_log values(null,#{BD_NO},#{WRITER_ID}, #{USER_ID})
	</insert>
	<select id="selectAllLike" resultType="com.seoul.fiding.vo.LikeVO">
		select * from like_log
	</select>
	<delete id="deleteALike" parameterType="Integer">
        delete from like_log where LL_NO = #{LL_NO}
    </delete>
    <delete id="deleteAllLikeByUserID" parameterType="String">
        delete from like_log where USER_ID = #{ID}
    </delete>
    <delete id="deleteAllLikeByWriterID" parameterType="String">
        delete from like_log where WRITER_ID = #{ID}
    </delete>
	
	
	
	
	<insert id="insertFavor" parameterType="com.seoul.fiding.vo.FavorVO">
		insert into FAVORITE_log values(null,#{BD_NO},#{WRITER_ID}, #{USER_ID})
	</insert>
	<select id="selectAllFavor" resultType="com.seoul.fiding.vo.FavorVO">
		select * from FAVORITE_log
	</select>
	<delete id="deleteAFavor" parameterType="Integer">
        delete from FAVORITE_log where LL_NO = #{LL_NO}
    </delete>
    <delete id="deleteAllFavorByUserID" parameterType="String">
        delete from FAVORITE_log where USER_ID = #{ID}
    </delete>
    <delete id="deleteAllFavorByWriterID" parameterType="String">
        delete from FAVORITE_log where WRITER_ID = #{ID}
    </delete>
	
	
	<insert id="insertTour" parameterType="com.seoul.fiding.vo.TourVO">
		insert into TOUR_LIST values(null,#{cat},#{address}, #{search_cnt})
	</insert>
	<select id="selectAllTour" resultType="com.seoul.fiding.vo.TourVO">
		select * from TOUR_LIST
	</select>
	<update id="searchUp" parameterType="Integer">
      update TOUR_LIST set search_cnt=search_cnt+1 where TL_NO=#{TL_NO}
    </update>
	
 </mapper>