@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

/* defalut 스타일 */
body, h1, p {
    margin: 0;
    padding: 0;
    font-size: larger;
    font-weight: bolder;
    font-family: 'Noto Sans KR', sans-serif;
}

/* header 스타일 */
.page-header {
    background-image: url("HeaderFooter.gif");
    background-size: cover;
    background-position: center;
    color: white;
    padding: 35px;
    display: flex;
    justify-content: center; /* 세로 방향으로 가운데 정렬 */
    flex-direction: column; /* 세로 방향으로 정렬 */
    align-items: center; /* 가로 방향으로 가운데 정렬 */
    text-align: center; /* 텍스트를 수평으로 가운데 정렬 */
    font-size: 40px;
}


/* main 스타일 */
.container-fluid {
    background-image: url("main.png");
    background-size: cover;
    background-position: center;
}

/* main content 스타일*/
.main-content {
    display: flex;
    flex-direction: row;  /* 가로 배열 */
    justify-content: space-between;
    align-items: center;
}


/* main의 왼쪽 스타일 */
#moreButton {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/*왼쪽 버튼*/
#left_side_btn{
    padding-bottom: 300px
}
#left_side_btn button {
    display: block;
    margin-bottom: 10px; /* 버튼 사이의 간격 조절 */
    margin-left: 100px;
    margin-right: 50px;
    width: 100px; /* 버튼 가로 크기 조절 */
    height: 45px;
}
/* .btn.btn-outline-primary:active {
    background-color: #007bff;
} */

/*부트스트랩 색상표
primary - #007bff
secondary - #6c757d
success - #28a745
danger - #dc3545
warning - #ffc107
info - #17a2b8
light - #f8f9fa
dark - #343a40
muted - #6c757d
white - #ffffff*/



/* main의 Map 스타일 */
.highlight-box {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #000;
    padding: 5px;
    border-radius: 5px;
}

#infoBox {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #000;
    padding: 10px;
    border-radius: 5px;
    display: none;
    max-width: 300px; /* 최대 너비 설정 */
}
.areaBox {
    display: none;
    position: absolute;
    width: 200px;
    height: 160px;
    border: 1px solid white;
    border-radius: 5%;
    background-color: gray;
}

#graphImage {
    max-width: 100%; /* 이미지가 infoBox를 넘어가지 않도록 최대 너비 설정 */
}

/* main의 레버 스타일 */
/* 슬라이드와 년도 부분 */
.dateBoxContainer {
    position: relative;
}

#lever {
    width: 600px;
    margin-bottom: 30px;
    margin-left: 300px; /* 230px에서 50px 감소 */
}

#month-display {
    color: rgb(255, 255, 255); /* 또는 다른 대조되는 색상 */
    font-size: 16px; /* 원하는 크기로 조절 */
    font-weight: normal; /* 원하는 스타일로 조절 */
    display: block;
    position: absolute;
    top: 0;
    left: 200px; /* 월 표시를 왼쪽으로 이동하는 정도를 조절하세요 */
}


/* main의 게시판 스타일 */
/* side_board */
.board-container {
    font-family: Sans-serif;
    font-size: 14px;
    width: 500px; /* 변경: 원하는 가로 크기로 수정 가능 */
    max-width: 300px; /* 추가: 최대 가로 크기 설정 */
    box-sizing: border-box;
    margin-top: -180px;
}

/* 제일 큰 제목 */
h2 {
    color: #000000;
}

.dd-item:hover,
button:hover {
    color: #574798;
    will-change: box-shadow;
    transition: box-shadow .2s cubic-bezier(.4, 0, 1, 1), background-color .2s cubic-bezier(.4, 0, .2, 1), color .2s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0 5px 6px 0 rgba(0, 0, 0, .14), 0 3px 1px -6px rgba(0, 0, 0, .2), 2px 5px 3px 0 rgba(0, 0, 0, .12);
}

ol.covid.news {
    border-top: 5px solid #6a5acd;
}

/*오른쪽 게시판 세부조정*/
ol.covid {
    border-top: 5px solid rgb(255, 64, 0);
    width: 80%;
    height: auto;
    margin: 1%;
    max-width: 250px;
    min-width: 120px;
    display: inline-block;
    vertical-align: top;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    flex-direction: column;
    min-height: 200px;
    z-index: 1;
    position: relative;
    background: #ccccff;
    padding: 1em;
    border-radius: 2px;
}

.title {
    align-self: flex-end;
    color: inherit;
    display: block;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 24px;
    line-height: normal;
    overflow: hidden;
    -webkit-transform-origin: 149px 48px;
    transform-origin: 149px 48px;
    margin: 0;
}

.text {
    color: grey;
    border-top: 1px solid;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    overflow: hidden;
    padding: 100px;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    display: inline-block;
}

.text a::before {
    content: "\2022"; /* 불릿 모양 (유니코드) */
    margin-right: 5px; /* 불릿과 링크 사이의 간격 조정 (원하는 만큼) */
}

.text::before { /* 오른쪽 게시판 타이틀과 링크 사이에 줄 */
    content: "";
    display: block;
    border-top: 2px solid #ccccff;
    margin: 8px 0;
}

.dd-item {
    display: block;
    margin: 5px 0;
    padding: 5px 10px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #ccc;
    background: #e7e3ff;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.dd-item:hover {
    background: #fff;
}


/* footer 스타일 */
.footer {
    background-image: url("HeaderFooter.gif");
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    text-align: center;
    padding: 10px;
    width: 100%;
}
#copyright {
    font-size: 17px;
    font-weight: 100;
}
#nickname {
    font-size: 9px;
    font-weight: 100;
    white-space: pre;
}